Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.


Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [ ]:
x= tuple()
x= (1,2, 'learning')
print(x)
print(type (x))

(1, 2, 'learning')
<class 'tuple'>

In [ ]:
x1=(1,2,'mango','paris')
print(x1)

(1, 2, 'mango', 'paris')

In [ ]:
len(x1)

4

In [ ]:
x1=(1,2,'mango','paris', 'paris')
print(x1)
print(len(x1))

(1, 2, 'mango', 'paris', 'paris')
5

Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple

In [ ]:
x1=(1)
x2=('mango') 
x=('mango',) #for a tuple comma is imp

print(type(x1))
print(type(x2))
print(type(x))

<class 'int'>
<class 'str'>
<class 'tuple'>

The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
x1=tuple((1,2,'mango','paris', 'paris'))
print(type(x1))

<class 'tuple'>

In [ ]:
#Acess tuple 
x = ("apple", "banana", "cherry","mango",'peru','pineapple','mustard')
print(x[1])
print(x[-1])
print(x[2:4])
print(x[3:])
print(x[:3])

banana
mustard
('cherry', 'mango')
('mango', 'peru', 'pineapple', 'mustard')
('apple', 'banana', 'cherry')

In [ ]:
x = ("apple", "banana", "cherry","mango",'peru','pineapple','mustard')
if 'apple' in x: 
  print('Yes, apples is in tupple')

Yes, apples is in tupple

In [ ]:
#Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.
#But there are some workarounds : like converting tupple in to list add,change the item and convert list again into tupple

In [ ]:
x = ("apple", "banana", "cherry","mango",'peru','pineapple','mustard')
y= list(x)
y.append('orange')
x=tuple(y)
print(x)

('apple', 'banana', 'cherry', 'mango', 'peru', 'pineapple', 'mustard', 'orange')

In [ ]:
#2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item,
#(or many), create a new tuple with the item(s), 
#and add it to the existing tuple:

('apple', 'banana', 'cherry', 'mango', 'peru', 'pineapple', 'mustard', 'orange')

In [ ]:
x = ("apple", "banana", "cherry","mango",'peru','pineapple','mustard')
y= ('orange',) # adding comma is must else it will consider as string
x +=y
print(x)

('apple', 'banana', 'cherry', 'mango', 'peru', 'pineapple', 'mustard', 'orange')

In [ ]:
#Removal 
#Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and
#adding tuple items:

In [ ]:
x = ("apple", "banana", "cherry","mango",'peru','pineapple','mustard')
y= list(x)
y.remove('peru')
x=tuple(y)
print(x)

('apple', 'banana', 'cherry', 'mango', 'pineapple', 'mustard')

In [ ]:
x = ("apple", "banana", "cherry")
del x
print(x) #this will raise an error because the tuple no longer exists

NameError: ignored

In [ ]:
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
#in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
x = ("apple", "banana", "cherry") #packing
x

('apple', 'banana', 'cherry')

In [ ]:
x = ("apple", "banana", "cherry") #unpacking
(a,b,c)= x
print(a)
print(b)
print(c)

apple
banana
cherry

In [ ]:
#Note: The number of variables must match the number of values in the tuple, 
#if not, you must use an asterisk to collect the remaining values as a list.

In [ ]:
x = ("apple", "banana", "cherry", "strawberry", "raspberry")

(a, b, *c) = x

print(a)
print(b)
print(c)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
#If the asterisk is added to another variable name than the last,
#Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
x = ("apple", "banana", "cherry", "strawberry", "raspberry")

(a, *b, c) = x

print(a)
print(b)
print(c)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [ ]:
#Loop Through a Tuple

In [ ]:
x = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in x:
  print(x) # this will iterate the O/p as per the items count. 
  #i.e if there are 4 items than the o/p will appear 4 times the entire tuple

('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')

In [ ]:
x = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in x: 
  print(i)# when you want items

apple
banana
cherry
strawberry
raspberry

In [ ]:
#Loop Through the Index Numbers
#You can also loop through the tuple items by referring to their index number.

#Use the range() and len() functions to create a suitable iterable.

In [ ]:
x = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in range(len(x)): 
  print(i)

0
1
2
3
4

In [ ]:
x = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in range(len(x)): 
  print(x)

('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')

In [ ]:
x = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in range(len(x)): 
  print(x[i])

apple
banana
cherry
strawberry
raspberry

In [ ]:
#Using a While Loop
#You can loop through the list items by using a while loop.

#Use the len() function to determine the length of the tuple, then start at 0 and 
#loop your way through the tuple items by refering to their indexes.

#Remember to increase the index by 1 after each iteration.

In [ ]:
x = ("apple", "banana", "cherry")
i = 0
while i < len(x):
  print(x[i])
  i = i + 1

apple
banana
cherry

In [ ]:
x = ("apple", "banana", "cherry")
i = 0
while i < len(x):
  print(x)
  i = i + 1

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')

In [ ]:
#Join Two Tuples
#To join two or more tuples you can use the + operator:

x= ('1','2')
z=('mango',)
y= x+ z
print(y)

('1', '2', 'mango')

In [ ]:
#Tuple Methods
#Python has two built-in methods that you can use on tuples.

#Method	Description
#count()	Returns the number of times a specified value occurs in a tuple
#index()	Searches the tuple for a specified value and returns the position of where it was found